@charset "utf-8";

body, header, footer, section, article, ul, li, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

button {
    cursor: pointer;
}

body {
    background-color: #fff;
    color: #333;
}

.wrap {
    position: relative;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 100px;
    background-color: #ceb398;
    padding-top: 35px;
    padding-left: 10px;
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    display: block;
    width: 120px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    color: #ceb398;
    padding: 10px;
}

nav > ul > li:hover > a,
nav > ul > li > a:focus,
nav > ul > li.on > a {
    background-color: #ceb398;
    color: #fff;
}

.sub {
    display: none;
}

.sub li a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}

.sub li a:hover, 
.sub li a:focus {
    background-color: #f3e2d2;
}

.slides {
    height: 300px;
    
}