@charset "utf-8";

body, header, footer, section, article, ul, li, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

button {
    cursor: pointer;
}

body {
    background-color: #fff;
    color: #333;
}

.wrap {
    position: relative;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    height: 700px;
}

header {
    background-color: #0066ad;
    height: 100px;
    padding: 35px;
    padding-left: 10px;
    position: relative;
}

header h1 {
    width: 200px;
    height: 40px;
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 5;
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    display: block;
    width: 120px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

nav > ul > li:hover > a,
nav > ul > li.on > a,
nav > ul > li > a:focus {
    background-color: #333;
}

.sub {
    display: none;
}

.sub li a {
    background-color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.sub li a:hover,
.sub li a:focus {
    background-color: #0066ad;
    color: #fff;
}

.slide {
    height: 300px;
    background-color: #ccc;
    position: relative;
}

.slide ul li {
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.slide ul li a {
    display: block;
    height: 100%;
}

.slide ul li.s1 {
    background:url(../img/s1/jpg) no-repeat center/cover;
    display: block;
}

.slide ul li.s2 {
    background:url(../img/s2/jpg) no-repeat center/cover;
}

.slide ul li.s3 {
    background:url(../img/s3/jpg) no-repeat center/cover;
}

.slide ul li h2 {
    background-color: rgba(0, 102, 173, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

.con {
    height: 200px;
    display: flex;
}

.con article {
    width: 400px;
}

.contents {
    position: relative;
}

.contents .tabmenu > li {
    width: 150px;
    display: inline-block;
    background-color: #d6edfd;
}

.contents .tabmenu > li.on {
    background-color: #0066ad;
    color: #fff;
}

.contents .tabmenu > li > h2 > a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.contents .tabcon {
    background-color: #0066ad;
    color: #fff;
    padding: 5px;
    position: absolute;
}

.notice th {
    text-align: left;
    color: #fff;
}

.notice td {
    color: #fff;
}

.notice tr {
    border-bottom: 1px dashed #fff;
}

.notice a {
    padding: 5px;
    display: block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gall {
    display: none;
}

.gall ul {
    text-align: center;
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;
}

.gall ul li {
    width: 120px;
}

.banner {
    padding: 10px;
    padding-right: 60px;
}
.banner a {
    display: block;
    height: 100%;
    background: url(../img/banner.jpg) center/cover;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

.banner div {
    height: 100%;
    padding-top: 30px;
}

.banner h2 {
    padding-bottom: 15px;
}

.banner h2 span {
    font-weight: 300;
}

.banner p {
    background-color: #333;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.go {
    padding: 10px;
}

.go h2 {
    color: #0066ad;
    padding-bottom: 20px;
}

.go ul {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.go ul li a {
    display: block;
    height: 100%;
}

.go ul li p {
    width: 120px;
    height: 90px;
    background-color: #0066ad;
    text-align: center;
    line-height: 60px;
    padding: 20px;
    border-radius: 20px;
    padding-top: 10px;
    display: block;
    font-weight: bold;
    color: #fff;
}

footer {
    height: 100px;
    background-color: #333;
    color: #fff;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

footer .flogo {
    padding-right: 40px;
}

footer .fmenu {
    display: flex;
    gap: 10px;
}

footer .fmenu li {
    border-right: 1px solid #fff;
    padding-right: 10px;
    font-size: 14px;
}

footer .fmenu li:last-child {
    border-right: 0;
}

footer .fcopy {
    font-size: 14px;
    padding-top: 15px;
    color: #ccc;
}

.popup {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    z-index: 9999;
    padding: 20px;
    border: 3px solid #333;
    display: none;
}

.popup h2 {
    color: #0066ad;
    padding-bottom: 20px;
}

.popup .text {
    padding: 20px 0;
}

.popup .button {
    text-align: right;
}