@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

button {
    cursor: pointer;
}

body {
    background-color: #fff;
    color: #333;
}

.wrap {
    position: relative;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
    height: 100%;
    background-color: #0070ba;
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 6;
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

nav > ul > li:hover > a,
nav > ul > li.on > a,
nav > ul > li > a:focus {
    background-color: #737373;
}

.sub {
    height: 155px;
    background-color: #fff;
    display: none;
}

.sub li a {
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background-color: #fff;
}

.sub li a:hover,
.sub li a:focus {
    background-color: #0070be;
    color: #fff;
}

.slide {
    height: 300px;
    background-color: #fcc;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide ul {
    width: 3600px;
    position: absolute;
    top: 0;
    left: 0;
}

.slide ul li {
    width: 1200px;
    height: 300px;
    position: relative;
    text-align: left;
}

